<header>
    <h1>Sistema de Alunos Proway</h1>
</header>

<main>
    <div class="botoes">
        <button (click)="alterarExibicao()">
            Mostrar {{ exibicao == 'cards' ? 'Lista' : 'Cards'}}
        </button>
        <button (click)="filtrarAprovados()">
            Aprovados
        </button>
        <button (click)="mostrarTodos()">Todos
        </button>
    </div>

    <section class="cards" *ngIf="exibicao == 'cards'">
        <app-aluno *ngFor="let aluno of listaFiltro" [aluno]="aluno"></app-aluno>
    </section>

    <section class="lista" *ngIf="exibicao == 'lista'">
        <app-aluno-lista [lista]="listaFiltro"(excluir)="onExcluir($event)"></app-aluno-lista>
    </section>
</main>

<footer>
    <p>Desenvolvido por Victor Freitas ©<br>
        Aluno SuperDev - JAVA 
    </p>
</footer>