<header>
    <h1>Sistema Alunos Proway</h1>
</header>

<main>
    <section class="cards" *ngIf="exibicao == 'cards'">
        <app-aluno [aluno]="listaAlunos[0]"></app-aluno>
        <app-aluno [aluno]="listaAlunos[1]"></app-aluno>
        <app-aluno [aluno]="listaAlunos[2]"></app-aluno>
    </section>

    <section class="lista" *ngIf="exibicao == 'lista'">
        <app-aluno-lista [lista]="listaAlunos"></app-aluno-lista>
    </section>
</main>

<footer>
    <p>Desenvolvido por Victor Freitas ©</p>
</footer>