<header>
    <h1>Sistema Alunos Proway</h1>
</header>

<main>
    <div class="botoes">
        <button (click)="alterarExibicao()">
            Mostrar {{ exibicao == 'cards' ? 'Lista' : 'Cards'}}
        </button>
    </div>

    <section class="cards" *ngIf="exibicao == 'cards'">
        <app-aluno *ngFor="let aluno of listaAlunos" [aluno]="aluno"></app-aluno>
    </section>

    <section class="lista" *ngIf="exibicao == 'lista'">
        <app-aluno-lista [lista]="listaAlunos"></app-aluno-lista>
    </section>
</main>

<footer>
    <p>Desenvolvido por Victor Freitas ©</p>
</footer>