
h1, footer{
    text-align: center;
    justify-content: center;
    background-color: rgb(21, 21, 89);
    color: white;
    padding: 10px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 30px;
}
main {
    padding: 20px;
    display: flex;
    flex-direction: column;
}
.cards,.lista{
    display: flex;
    justify-content: center;
}


